#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=DataExporter_64
Exec="/opt/Specify/bin/DataExporter" %U
Icon=/opt/Specify/.install4j/DataExporter.png
Categories=Application;
StartupWMClass=install4j-edu-ku-brc-specify-tools-export-ExportPanel
