#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=SpWizard_64
Exec="/opt/Specify/bin/SpWizard" %U
Icon=/opt/Specify/.install4j/SpWizard.png
Categories=Application;
StartupWMClass=install4j-edu-ku-brc-specify-config-init-SpecifyDBSetupWizardFrame
