services:
  mysql:
    image: mariadb:11
    container_name: specify7_mysql
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "root"
      MYSQL_DATABASE: "specify"
      MYSQL_USER: "specify"
      MYSQL_PASSWORD: "specify"
    volumes:
      - ./mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:latest
    container_name: specify7_phpmyadmin
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: "3306"
    ports:
      - "8080:80" 
      
  specify:
    image: ghcr.io/biodiversity-cz/specify7:main
    volumes:
      - shared-files:/volumes/static-files
      - shared-socket:/sock
    command: >
      /bin/sh -c "
      mkdir -p /volumes/static-files/depository &&
      chmod -R 777 /volumes/static-files/depository &&
      exec /entrypoint.sh
      "

  worker:
    image: ghcr.io/biodiversity-cz/specify7:main
    volumes:
      - shared-files:/volumes/static-files
      - shared-socket:/sock
    command:
      ["ve/bin/celery", "-A", "specifyweb", "worker", "-l", "INFO", "--concurrency=1"]

  nginx:
    image: ghcr.io/biodiversity-cz/nginx-noroot-fpmsocket:main
    ports:
      - "80:80"
    volumes:
      - shared-files:/volumes/static-files:ro
      - shared-socket:/sock
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

  redis:
    image: redis:7

volumes:
  shared-files:
  shared-socket:
